.body-box {
    background-color: #f2f2f2;
    -webkit-user-select: none; /*webkit浏览器*/
    user-select: none;
}
/*tab切换 */
.tab-box {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    padding: 0 0.25rem;
    background-color: #fff;
    display: flex;
    vertical-align: middle;
    margin-bottom: 0.25rem;
}
.tab-box .tap-wrap {
    flex: 1;
    color: #333;
}
.tab-box .tap-btn {
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
.selected {
    color: #3497f5 !important;
    position: relative;
}
.selected::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #3497f5;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
}
.tab-box i {
    height: 100%;
    margin: 0 0.4rem;
}
.tab-box i::after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.tab-box i::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #aaa;
    display: inline-block;
    vertical-align: middle;
}
/*批量审批按钮 */
.approval {
    background-color: #fff;
}
.batch-approval {
    height: 1rem;
    line-height: 1rem;
    text-align: right;
    padding: 0 0.25rem;
}
.batch-approval .batch-approval-text {
    color: #666;
    font-size: 14px;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
}

/*审批列表区域 */
.approval-list {
    margin: 0 0.25rem;
}
.approval-list .approval-list-cell {
    overflow: hidden;
    position: relative;
}
.approval-list-cell .approval-name {
    position: absolute;
    left: 0;
    top: 50%;
    color: #fff;
    width: 1rem;
    height: 1rem;
    font-size: 14px;
    line-height: 1rem;
    margin-top: -0.5rem;
    text-align: center;
    border-radius: 100%;
    background-color: #6eb4f6;
}
@media screen and (max-width: 375px) {
  .approval-details-list-cell .approval-name{
    font-size: 14px !important;
  }
}
@media screen and (max-width: 320px) {
  .approval-list-cell .approval-name{
    font-size: 14px;
  }
  .approval-details-list-cell .approval-name{
    font-size: 12px !important;
  }
}
.approval-list .approval-list-cell .approval-info {
    padding: 0.3rem 0;
    margin-left: 1.2rem;
}
.approval-list .approval-list-cell a:last-child .approval-info{
    border-bottom: 0;
}
.approval-info p {
    margin-bottom: 0.2rem;
}
.approval-info .approval-title-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}
.approval-info .approval-title {
    color: #333;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.approval-info .approval-date {
    color: #666;
    float: right;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
}
.approval-info .approval-start-date,.approval-info .approval-end-date{
    color: #999;
    font-size: 14px;
    margin-bottom: 0.25rem;
}
.approval-info .approval-state {
    color: #ff8922;
    font-size: 16px;
    margin-bottom:0px;
}
/* 自定义select,input样式 */
input,select {
    color: #999;
    border: 0;
    height: 30px;
    line-height: 30px;
    outline:none;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selectWrap {
    position: relative;
    line-height: normal;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #3497f5;
}

.selectWrap select {
    width: 100%;
    padding: 0 0.5rem 0 0.1rem;
    border-radius: 5px;
}
.selectBtn {
    width: 0.4rem;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    overflow: hidden;
    background-color: #3497f5;
}
.selectBtn::before,.selectBtn::after {
    content: "";
    width: 100%;
    height: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-image: url('../../assets/img/icon-select.png');
    position: absolute;
}
.selectBtn::before {
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
.selectBtn::after {
    bottom: 0;
    right: 0;
}
.addBtn {
    width: 0.35rem;
    height: 0.35rem;
    line-height: 0.35rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    background-color: #9ccfff;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/icon-add.png');
}
/* 自定义select样式 end*/
/* 自定义复选框 */
.checkbox-box label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
}
.checkbox-box .checkbox-name {
}
.checkbox-box .checkbox-btn{
    width: 0.25rem;
    height: 0.25rem;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.checkbox-box input[type="checkbox"] {
    height: 0;
    width: 0;
}
.checkbox-box input[type="checkbox"]:checked + .checkbox-btn {
    border-color: #3497f5;
    background-color: #3497f5;
}
.checkbox-box input[type="checkbox"]:checked + .checkbox-btn::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/icon-checkbox.png');
}
.checkbox-box .checkbox-text {
    color: #999;
    line-height: 0.3rem;
    vertical-align: middle;
    margin-left: 5px;
}
/* 自定义复选框 end */
/* 申请列表 */
.mint-cell-wrapper {
    padding: 0;
}
.application-list-box ,.application-type-box{
    padding: 0 0.3rem;
    box-sizing: border-box;
    background-color: #fff;
}
.application-type-box {
    height: 65px;
    display: flex;
    padding: 0.3rem;
}
.application-type-box .application-type {
    flex:1;
    color: #fff;
    font-size: 14px;
    padding: 0.2rem 0;
    border-radius: 5px;
    text-align: center;
    margin-left: 0.3rem;
    background-color: #aaa;
}
.application-type-box .nnsubmitted {
    background-color: #ff8922;
}
.application-type-box .approved {
    background-color: #11bf84;
}
.application-type-box .retreated {
    background-color: #f3725f;
}
.application-type-box .approvaling {
    background-color: #5ac0de;
}
.application-type-box .application-type:first-child {
    margin-left: 0;
}
.application-list-box .application-list{

}
.application-list .application-list-cell {
    display: flex;
    align-items: center;
}
.application-list .icon {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 5px;
    background-color: #bbb;
    background-image: url('../../assets/img/workLunch-icon.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}
.application-list .application-list-info {
    flex: 1;
    min-width: 0;
    font-size: 14px;
    padding: 0.25rem 0;
    margin-left: 0.3rem;
}
.application-list .application-list-info-wrap {
}
.application-list .application-title-date {
    display: flex;
    margin-bottom: 0.2rem;
}
.application-list .application-date {

}
.application-list .application-title-wrap {
    font-size: 16px;
    flex: 1;min-width: 0;
}
.application-list .application-title {
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}
.application-list .application-date {
    color: #666;
    float: right;
    line-height: 21px;
}
.application-list .eat-type {
    color: #999;
}
.application-list .application-title span {
    color: #aaa;
}
.application-list .application-title .nnsubmitted {
    color: #ff8922;
}
.application-list .application-title .approved {
    color: #11bf84;
}
.application-list .application-title .retreated {
    color: #f3725f;
}
.application-list .application-title .approvaling {
    color: #5ac0de;
}

.application-list a:last-child .application-list-cell .bd-bottom-1::before {
    border-bottom:0;
}

@media screen and (max-width: 320px) {
    .application-type-box .application-type {
        font-size: 12px
    }
    .application-list .application-list-info {
        font-size: 12px;
    }
    .application-list .application-title {
        color: #000;
        font-size: 14px;
    }
    .application-list .application-date {
        line-height: 19px;
    }
}
/* 申请列表end */

/* 申请填报 */
.approvedInput {
    font-size: 14px;
}
@media screen and (max-width: 320px) {
    .approvedInput {
        font-size: 12px;
    }
}
.approved-head {
    padding: 0.3rem 0.25rem;
    background-color: #fff;
}
.approved-head .approved-head-row {
    color: #333;
    width: 100%;
    margin-bottom: 0.25rem;
    overflow: hidden;
}
.approved-head .approved-head-row:last-child {
    margin-bottom: 0;
}
.approved-head .approved-head-warp {
    width: 50%;
    float: left;
}
.approved-head .approved-head-info {
    color: #999;
}
.approved-body {
    margin-top: 0.25rem;
    padding: 0 0.25rem;
    padding-bottom: 20px;
    background-color: #fff;
}
.approved-body .approved-body-row {
    padding: 10px 0;
    overflow: hidden;
}
.approved-body .bd-bottom-1:last-child:before {
    border-bottom:0;
}
.approved-body .cue {
    float: right;
    line-height: 30px;
    color: #ff6054;
}
.approvalProcess .approver{
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    background-color: #fea556;
}
.approvalProcess i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/icon-arrow.png');
}
.approved-body .submit {
    color: #fff;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    line-height: 45px;
    border-radius: 5px;
    text-align: center;
    background-color: #3497f5;
}
/* 申请填报 end*/
.mint-switch {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.mint-switch-core {
    height: 20px;
    width: 40px;
    vertical-align: middle;
}
.mint-switch-core:after {
    height: 18px;
    width: 18px;
}
.mint-switch-core:before  {
    height: 18px;
    width: 38px;
}
