.body-box {
    background-color: #f2f2f2;
}
/*tab切换 */
.tab-box {
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 0.5rem;
    background-color: #fff;
    display: flex;
    vertical-align: middle;
}
.tab-box .tap-wrap {
    flex: 1;
    color: #333;
}
.tab-box .tap-btn {
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
}
.selected {
    color: #3497f5 !important;
    position: relative;
}
.selected::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #3497f5;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
}
.tab-box i {
    height: 100%;
    margin: 0 0.4rem;
}
.tab-box i::after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.tab-box i::before {
    content: '';
    width: 1px;
    height: 16px;
    background: #aaa;
    display: inline-block;
    vertical-align: middle;
}
/*批量审批按钮 */
.approval {
    background-color: #fff;
}
.batch-approval {
    height: 1rem;
    line-height: 1rem;
    text-align: right;
    margin-top: 0.25rem;
    padding: 0 0.3rem;
}
.batch-approval .batch-approval-text {
    color: #666;
    font-size: 14px;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
}
.batch-approval .mint-switch {
    height: 32px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
/*列表区域 */
.approval-list {
    margin: 0 0.3rem;
}
.approval-list .approval-list-cell {
    overflow: hidden;
}
.approval-list-cell .approval-name {
    float: left;
    color: #fff;
    width: 1.4rem;
    height: 1.4rem;
    font-size: 18px;
    line-height: 1.4rem;
    text-align: center;
    border-radius: 100%;
    margin-top: 0.5rem;
    background-color: #6eb4f6;
}
.approval-list .approval-list-cell .approval-info {
    padding: 0.3rem 0;
    margin-left: 1.7rem;
}
.approval-list .approval-list-cell:last-child .approval-info{
    border-bottom: 0;
}
.approval-info p {
    margin-bottom: 0.2rem;
}
.approval-info .approval-title-date {
    margin-bottom: 0.3rem;
}
.approval-info .approval-title {
    color: #333;
    font-size: 18px;
}
.approval-info .approval-date {
    color: #666;
    float: right;
    font-size: 16px;
    line-height: 27px;
}
.approval-info .approval-start-date,.approval-info .approval-end-date{
    color: #999;
    font-size: 16px;
}
.approval-info .approval-state {
    color: #ff8922;
    font-size: 16px;
    margin-bottom:0px;
}
